USE [master]
GO
/****** Object:  Database [Taxi]    Script Date: 17.10.2022 19:12:40 ******/
CREATE DATABASE [Taxi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Taxi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\Taxi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Taxi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\Taxi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Taxi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Taxi]
GO
/****** Object:  User [DESKTOP-I17R4U8\witless]    Script Date: 17.10.2022 19:12:40 ******/
CREATE USER [DESKTOP-I17R4U8\witless] FOR LOGIN [DESKTOP-I17R4U8\witless] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 17.10.2022 19:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Client_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxi]    Script Date: 17.10.2022 19:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxi](
	[Voditel_id] [int] NOT NULL,
	[Client_id] [int] NOT NULL,
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Taxi_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.10.2022 19:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vodila]    Script Date: 17.10.2022 19:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vodila](
	[Voditel_id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Count] [int] NOT NULL,
	[Marka] [nvarchar](50) NOT NULL,
	[Reiting] [float] NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIO] PRIMARY KEY CLUSTERED 
(
	[Voditel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Client_id], [Name], [Surname]) VALUES (1, N'Егор', N'Иванов')
INSERT [dbo].[Client] ([Client_id], [Name], [Surname]) VALUES (2, N'Арсентий', N'Кольянрв')
INSERT [dbo].[Client] ([Client_id], [Name], [Surname]) VALUES (3, N'Игорь', N'Третий ')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Taxi] ON 

INSERT [dbo].[Taxi] ([Voditel_id], [Client_id], [OrderID]) VALUES (1, 1, 1)
INSERT [dbo].[Taxi] ([Voditel_id], [Client_id], [OrderID]) VALUES (2, 2, 2)
INSERT [dbo].[Taxi] ([Voditel_id], [Client_id], [OrderID]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Taxi] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [login], [password]) VALUES (3014, N'admin', N'admin')
INSERT [dbo].[Users] ([user_id], [login], [password]) VALUES (3015, N'Egor', N'222')
INSERT [dbo].[Users] ([user_id], [login], [password]) VALUES (3016, N'Aresen', N'888')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[Vodila] ([Voditel_id], [Name], [Count], [Marka], [Reiting], [Photo]) VALUES (1, N'Ашот', 23, N'Лада Калина', 4.9, N'1.jpg')
INSERT [dbo].[Vodila] ([Voditel_id], [Name], [Count], [Marka], [Reiting], [Photo]) VALUES (2, N'Мухамед', 100, N'Рено Логан', 5, N'2.jpg')
INSERT [dbo].[Vodila] ([Voditel_id], [Name], [Count], [Marka], [Reiting], [Photo]) VALUES (3, N'Николай', 15, N'Камрии 3.5', 5, N'3.jpg')
GO
ALTER TABLE [dbo].[Taxi]  WITH CHECK ADD  CONSTRAINT [FK_Taxi_Client] FOREIGN KEY([Client_id])
REFERENCES [dbo].[Client] ([Client_id])
GO
ALTER TABLE [dbo].[Taxi] CHECK CONSTRAINT [FK_Taxi_Client]
GO
ALTER TABLE [dbo].[Taxi]  WITH CHECK ADD  CONSTRAINT [FK_Taxi_Vodila] FOREIGN KEY([Voditel_id])
REFERENCES [dbo].[Vodila] ([Voditel_id])
GO
ALTER TABLE [dbo].[Taxi] CHECK CONSTRAINT [FK_Taxi_Vodila]
GO
USE [master]
GO
