USE [master]
GO
/****** Object:  Database [генералов]    Script Date: 16.10.2022 11:22:11 ******/
CREATE DATABASE [генералов]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'генералов', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\генералов.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'генералов_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\генералов_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [генералов].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [генералов]
GO
/****** Object:  User [DESKTOP-I17R4U8\witless]    Script Date: 16.10.2022 11:22:11 ******/
CREATE USER [DESKTOP-I17R4U8\witless] FOR LOGIN [DESKTOP-I17R4U8\witless] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[оплата]    Script Date: 16.10.2022 11:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[оплата](
	[код_оплаты] [varchar](50) NOT NULL,
	[дата_оплаты] [varchar](50) NOT NULL,
	[сумма] [float] NOT NULL,
	[код_путевки] [varchar](50) NOT NULL,
 CONSTRAINT [PK_оплата] PRIMARY KEY CLUSTERED 
(
	[код_оплаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[путевки1]    Script Date: 16.10.2022 11:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[путевки1](
	[код_путевки] [varchar](50) NOT NULL,
	[код_туриста] [varchar](50) NOT NULL,
	[код_сезона] [varchar](50) NOT NULL,
 CONSTRAINT [PK_путевки1] PRIMARY KEY CLUSTERED 
(
	[код_путевки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[сезоны]    Script Date: 16.10.2022 11:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[сезоны](
	[код_сезона] [varchar](50) NOT NULL,
	[дата_начала] [varchar](50) NOT NULL,
	[дата_окончания] [varchar](50) NOT NULL,
	[число_мест] [int] NOT NULL,
	[код_тура] [varchar](50) NOT NULL,
 CONSTRAINT [PK_сезоны] PRIMARY KEY CLUSTERED 
(
	[код_сезона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[туристы]    Script Date: 16.10.2022 11:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[туристы](
	[код_туриста] [varchar](50) NOT NULL,
	[Имя] [varchar](50) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Отчество] [varchar](50) NOT NULL,
	[Адрес_улица] [varchar](50) NOT NULL,
	[Телефон] [varchar](50) NOT NULL,
	[Адрес_дом] [varchar](50) NULL,
 CONSTRAINT [PK_туристы] PRIMARY KEY CLUSTERED 
(
	[код_туриста] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[туры]    Script Date: 16.10.2022 11:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[туры](
	[код_тура] [varchar](50) NOT NULL,
	[название] [varchar](50) NOT NULL,
	[цена] [float] NOT NULL,
 CONSTRAINT [PK_туры] PRIMARY KEY CLUSTERED 
(
	[код_тура] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[оплата] ([код_оплаты], [дата_оплаты], [сумма], [код_путевки]) VALUES (N'1', N'12.02.2021', 12000, N'1')
INSERT [dbo].[оплата] ([код_оплаты], [дата_оплаты], [сумма], [код_путевки]) VALUES (N'2', N'12.03.2020', 14000, N'2')
INSERT [dbo].[оплата] ([код_оплаты], [дата_оплаты], [сумма], [код_путевки]) VALUES (N'3', N'10.05.2021', 11111, N'3')
GO
INSERT [dbo].[путевки1] ([код_путевки], [код_туриста], [код_сезона]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[путевки1] ([код_путевки], [код_туриста], [код_сезона]) VALUES (N'2', N'2', N'2')
INSERT [dbo].[путевки1] ([код_путевки], [код_туриста], [код_сезона]) VALUES (N'3', N'3', N'3')
GO
INSERT [dbo].[сезоны] ([код_сезона], [дата_начала], [дата_окончания], [число_мест], [код_тура]) VALUES (N'1', N'21.05.2020', N'28.08.2020', 40, N'1')
INSERT [dbo].[сезоны] ([код_сезона], [дата_начала], [дата_окончания], [число_мест], [код_тура]) VALUES (N'2', N'26.04.2021', N'14.08.2021', 90, N'2')
INSERT [dbo].[сезоны] ([код_сезона], [дата_начала], [дата_окончания], [число_мест], [код_тура]) VALUES (N'3', N'10.03.2020', N'03.05.2020', 15, N'3')
GO
INSERT [dbo].[туристы] ([код_туриста], [Имя], [Фамилия], [Отчество], [Адрес_улица], [Телефон], [Адрес_дом]) VALUES (N'1', N'Артур', N'Нурутдинов', N'Сергеевич', N'Радищева 20', N'+79872320023', N'20')
INSERT [dbo].[туристы] ([код_туриста], [Имя], [Фамилия], [Отчество], [Адрес_улица], [Телефон], [Адрес_дом]) VALUES (N'2', N'Глеб', N'Гвоздь', N'Артурович', N'Тагирорва ', N'+79190674235', N'10')
INSERT [dbo].[туристы] ([код_туриста], [Имя], [Фамилия], [Отчество], [Адрес_улица], [Телефон], [Адрес_дом]) VALUES (N'3', N'Илья', N'Черников', N'Соловьев', N'Пушкина ', N'+79127654555', N'5')
GO
INSERT [dbo].[туры] ([код_тура], [название], [цена]) VALUES (N'1', N'Турция', 46000)
INSERT [dbo].[туры] ([код_тура], [название], [цена]) VALUES (N'2', N'Груция', 16600)
INSERT [dbo].[туры] ([код_тура], [название], [цена]) VALUES (N'3', N'Тунис', 23000)
GO
ALTER TABLE [dbo].[оплата]  WITH CHECK ADD  CONSTRAINT [FK_оплата_путевки1] FOREIGN KEY([код_путевки])
REFERENCES [dbo].[путевки1] ([код_путевки])
GO
ALTER TABLE [dbo].[оплата] CHECK CONSTRAINT [FK_оплата_путевки1]
GO
ALTER TABLE [dbo].[путевки1]  WITH CHECK ADD  CONSTRAINT [FK_путевки1_сезоны] FOREIGN KEY([код_сезона])
REFERENCES [dbo].[сезоны] ([код_сезона])
GO
ALTER TABLE [dbo].[путевки1] CHECK CONSTRAINT [FK_путевки1_сезоны]
GO
ALTER TABLE [dbo].[путевки1]  WITH CHECK ADD  CONSTRAINT [FK_путевки1_туристы] FOREIGN KEY([код_туриста])
REFERENCES [dbo].[туристы] ([код_туриста])
GO
ALTER TABLE [dbo].[путевки1] CHECK CONSTRAINT [FK_путевки1_туристы]
GO
ALTER TABLE [dbo].[сезоны]  WITH CHECK ADD  CONSTRAINT [FK_сезоны_туры] FOREIGN KEY([код_тура])
REFERENCES [dbo].[туры] ([код_тура])
GO
ALTER TABLE [dbo].[сезоны] CHECK CONSTRAINT [FK_сезоны_туры]
GO
USE [master]
GO
