
CREATE TABLE [dbo].[Count](
	[CountID] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Count] PRIMARY KEY CLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 07.10.2022 20:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufactureID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Site] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufactureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 07.10.2022 20:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelID] [int] NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
	[Descript] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 07.10.2022 20:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeID] [int] NOT NULL,
	[Count] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tire]    Script Date: 07.10.2022 20:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tire](
	[TireID] [int] NOT NULL,
	[ModelID] [int] NOT NULL,
	[ManufactureID] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
 CONSTRAINT [PK_Tire] PRIMARY KEY CLUSTERED 
(
	[TireID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Count] ([CountID], [Count]) VALUES (1, 4)
INSERT [dbo].[Count] ([CountID], [Count]) VALUES (2, 10)
INSERT [dbo].[Count] ([CountID], [Count]) VALUES (3, 2)
GO
INSERT [dbo].[Manufacturer] ([ManufactureID], [Name], [Site]) VALUES (1, N'Nokian', N'nokian.com')
INSERT [dbo].[Manufacturer] ([ManufactureID], [Name], [Site]) VALUES (2, N'Matador', N'matador.com')
INSERT [dbo].[Manufacturer] ([ManufactureID], [Name], [Site]) VALUES (3, N'Continental', N'continental.com')
GO
INSERT [dbo].[Model] ([ModelID], [ModelName], [Descript]) VALUES (1, N'Nordman 4', N'Nordman - классические шины для снежных дорог')
INSERT [dbo].[Model] ([ModelID], [ModelName], [Descript]) VALUES (2, N'Hakka 3', N'Hakka - лучшие финские шины')
INSERT [dbo].[Model] ([ModelID], [ModelName], [Descript]) VALUES (3, N'MPS-100', N'Дешевые и надежные шины')
GO
INSERT [dbo].[Size] ([SizeID], [Count]) VALUES (1, N'225/40 R18')
INSERT [dbo].[Size] ([SizeID], [Count]) VALUES (2, N'235/35 R19')
INSERT [dbo].[Size] ([SizeID], [Count]) VALUES (3, N'225/50 R18')
GO
INSERT [dbo].[Tire] ([TireID], [ModelID], [ManufactureID], [SizeID], [CountID]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[Tire] ([TireID], [ModelID], [ManufactureID], [SizeID], [CountID]) VALUES (2, 1, 1, 2, 2)
INSERT [dbo].[Tire] ([TireID], [ModelID], [ManufactureID], [SizeID], [CountID]) VALUES (3, 2, 1, 3, 3)
GO
ALTER TABLE [dbo].[Tire]  WITH CHECK ADD  CONSTRAINT [FK_Tire_Count] FOREIGN KEY([CountID])
REFERENCES [dbo].[Count] ([CountID])
GO
ALTER TABLE [dbo].[Tire] CHECK CONSTRAINT [FK_Tire_Count]
GO
ALTER TABLE [dbo].[Tire]  WITH CHECK ADD  CONSTRAINT [FK_Tire_Manufacturer] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufacturer] ([ManufactureID])
GO
ALTER TABLE [dbo].[Tire] CHECK CONSTRAINT [FK_Tire_Manufacturer]
GO
ALTER TABLE [dbo].[Tire]  WITH CHECK ADD  CONSTRAINT [FK_Tire_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ModelID])
GO
ALTER TABLE [dbo].[Tire] CHECK CONSTRAINT [FK_Tire_Model]
GO
ALTER TABLE [dbo].[Tire]  WITH CHECK ADD  CONSTRAINT [FK_Tire_Size] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size] ([SizeID])
GO
ALTER TABLE [dbo].[Tire] CHECK CONSTRAINT [FK_Tire_Size]
GO
USE [master]
GO
