
CREATE TABLE [dbo].[Auth](
	[UserID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ORGorDP] [nvarchar](50) NOT NULL,
	[Invoicing] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[PNumber] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmoloyeeID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[PostID] [int] NOT NULL,
	[PNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmoloyeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfomance]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfomance](
	[PerfomanceID] [int] IDENTITY(1,1) NOT NULL,
	[DeciderDate] [date] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Performed] [int] NOT NULL,
 CONSTRAINT [PK_Perfomance] PRIMARY KEY CLUSTERED 
(
	[PerfomanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 16.10.2022 17:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (1, N'user', N'user', 1)
INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (2, N'admin', N'admin', 2)
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [ORGorDP], [Invoicing], [Surname], [Name], [Patronymic], [PNumber], [Photo]) VALUES (1, N'ORG', N'510091936', N'Яковлева', N'София', N'Романовна', N'8(978)135-37-11', N'1.jpg')
INSERT [dbo].[Client] ([ClientID], [ORGorDP], [Invoicing], [Surname], [Name], [Patronymic], [PNumber], [Photo]) VALUES (2, N'DP', N'137224031', N'Симонова', N'Софья', N'Андреевна', N'743(0462)041-50-01', N'2.jpg')
INSERT [dbo].[Client] ([ClientID], [ORGorDP], [Invoicing], [Surname], [Name], [Patronymic], [PNumber], [Photo]) VALUES (3, N'DP', N'865007900', N'Уварова', N'Ника', N'Артёмовна', N'8(1652)870-59-24', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmoloyeeID], [Surname], [Name], [Patronymic], [PostID], [PNumber]) VALUES (10, N'Миронов', N'Роман', N'Данилович', 1, N'878(1284)815-48-38')
INSERT [dbo].[Employee] ([EmoloyeeID], [Surname], [Name], [Patronymic], [PostID], [PNumber]) VALUES (11, N'Богданов', N'Фёдор', N'Михайлович', 1, N'544(1697)557-25-50')
INSERT [dbo].[Employee] ([EmoloyeeID], [Surname], [Name], [Patronymic], [PostID], [PNumber]) VALUES (12, N'Макеева', N'Алиса', N'Марковна', 2, N'41(3521)765-14-26')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfomance] ON 

INSERT [dbo].[Perfomance] ([PerfomanceID], [DeciderDate], [ServiceID], [ClientID], [EmployeeID], [Performed]) VALUES (39, CAST(N'2021-03-23' AS Date), 1, 6, 10, 1)
INSERT [dbo].[Perfomance] ([PerfomanceID], [DeciderDate], [ServiceID], [ClientID], [EmployeeID], [Performed]) VALUES (40, CAST(N'2021-11-20' AS Date), 2, 7, 12, 1)
INSERT [dbo].[Perfomance] ([PerfomanceID], [DeciderDate], [ServiceID], [ClientID], [EmployeeID], [Performed]) VALUES (41, CAST(N'2021-05-10' AS Date), 3, 5, 13, 1)
SET IDENTITY_INSERT [dbo].[Perfomance] OFF
GO
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (1, N'Менеджер')
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (2, N'Специалист')
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (3, N'Копирайтер')
GO
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'admin')
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (1, N'Разработка рекламной кампании', 120000, N'1.jpg')
INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (2, N'Медиабаинг', 240000, N'2.jpg')
INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (3, N'Дизайн', 80000, N'3.jpg')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [FK_Auth_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [FK_Auth_Role]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post]
GO
ALTER TABLE [dbo].[Perfomance]  WITH CHECK ADD  CONSTRAINT [FK_Perfomance_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Perfomance] CHECK CONSTRAINT [FK_Perfomance_Client]
GO
ALTER TABLE [dbo].[Perfomance]  WITH CHECK ADD  CONSTRAINT [FK_Perfomance_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmoloyeeID])
GO
ALTER TABLE [dbo].[Perfomance] CHECK CONSTRAINT [FK_Perfomance_Employee]
GO
ALTER TABLE [dbo].[Perfomance]  WITH CHECK ADD  CONSTRAINT [FK_Perfomance_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Perfomance] CHECK CONSTRAINT [FK_Perfomance_Service]
GO
USE [master]
GO
