USE [master]
GO
/****** Object:  Database [stay]    Script Date: 03.10.2022 13:24:58 ******/
CREATE DATABASE [stay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\stay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\stay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stay]
GO
/****** Object:  User [DESKTOP-I17R4U8\witless]    Script Date: 03.10.2022 13:24:58 ******/
CREATE USER [DESKTOP-I17R4U8\witless] FOR LOGIN [DESKTOP-I17R4U8\witless] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[directions]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[directions](
	[id_directions] [int] NOT NULL,
	[name_directions] [nvarchar](50) NULL,
 CONSTRAINT [PK_directions] PRIMARY KEY CLUSTERED 
(
	[id_directions] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entrant]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entrant](
	[id_entrant] [int] NOT NULL,
	[surname] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[certificate] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
 CONSTRAINT [PK_entrant] PRIMARY KEY CLUSTERED 
(
	[id_entrant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mode]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mode](
	[id_mode] [int] NOT NULL,
	[name_mode] [nvarchar](50) NULL,
 CONSTRAINT [PK_mode] PRIMARY KEY CLUSTERED 
(
	[id_mode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id_post] [int] NOT NULL,
	[name_post] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialization]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialization](
	[id_specialization] [int] IDENTITY(1,1) NOT NULL,
	[name_specialization] [nvarchar](70) NOT NULL,
	[id_directions] [int] NOT NULL,
	[price] [float] NOT NULL,
	[budget] [nvarchar](5) NOT NULL,
	[paid] [nvarchar](5) NOT NULL,
	[id_staff] [int] NOT NULL,
	[image] [nvarchar](50) NOT NULL,
	[id_mode] [int] NOT NULL,
	[name_time] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_specialization] PRIMARY KEY CLUSTERED 
(
	[id_specialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialization_entrant]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialization_entrant](
	[id_specialization] [int] NOT NULL,
	[id_entrant] [int] NULL,
 CONSTRAINT [PK_specialization_entrant] PRIMARY KEY CLUSTERED 
(
	[id_specialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id_staff] [int] NOT NULL,
	[id_post] [int] NOT NULL,
	[surname] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](80) NULL,
	[image] [nvarchar](50) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_id_specialization]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_id_specialization](
	[id_staff] [int] NOT NULL,
	[id_specialization] [int] NOT NULL,
 CONSTRAINT [PK_staff_id_specialization] PRIMARY KEY CLUSTERED 
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time](
	[id_time] [nvarchar](5) NOT NULL,
	[name_time] [nvarchar](5) NULL,
 CONSTRAINT [PK_time] PRIMARY KEY CLUSTERED 
(
	[id_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 03.10.2022 13:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[directions] ([id_directions], [name_directions]) VALUES (1, N'Компьютерные науки')
INSERT [dbo].[directions] ([id_directions], [name_directions]) VALUES (2, N'Архитектура')
INSERT [dbo].[directions] ([id_directions], [name_directions]) VALUES (3, N'Управление')
GO
INSERT [dbo].[entrant] ([id_entrant], [surname], [name], [patronymic], [phone], [certificate], [image]) VALUES (1, N'Лапина', N'Дарья', N'Николаевна', N'7 (927) 972-59-04', N'1', N'')
INSERT [dbo].[entrant] ([id_entrant], [surname], [name], [patronymic], [phone], [certificate], [image]) VALUES (2, N'Агеева', N'Оливия', N'Антоновна', N'7 (591) 011-24-04', N'1', N'')
INSERT [dbo].[entrant] ([id_entrant], [surname], [name], [patronymic], [phone], [certificate], [image]) VALUES (3, N'Никифоров', N'Николай', N'Арсентьевич', N'7 (402) 691-54-71', N'1', N'')
GO
INSERT [dbo].[mode] ([id_mode], [name_mode]) VALUES (1, N'очно')
INSERT [dbo].[mode] ([id_mode], [name_mode]) VALUES (2, N'заочно')
INSERT [dbo].[mode] ([id_mode], [name_mode]) VALUES (3, N'очно-заочно')
GO
INSERT [dbo].[post] ([id_post], [name_post]) VALUES (1, N'руководитель')
INSERT [dbo].[post] ([id_post], [name_post]) VALUES (2, N'директор ')
INSERT [dbo].[post] ([id_post], [name_post]) VALUES (3, N'заведующий отделением')
GO
SET IDENTITY_INSERT [dbo].[specialization] ON 

INSERT [dbo].[specialization] ([id_specialization], [name_specialization], [id_directions], [price], [budget], [paid], [id_staff], [image], [id_mode], [name_time]) VALUES (1, N'Прикладная математика и информатика', 1, 108000, N'5', N'25', 1, N'pric.jpg', 1, N'5')
INSERT [dbo].[specialization] ([id_specialization], [name_specialization], [id_directions], [price], [budget], [paid], [id_staff], [image], [id_mode], [name_time]) VALUES (2, N'Программная инженерия', 1, 110000, N'4', N'26', 1, N'inge.jpg', 1, N'5')
INSERT [dbo].[specialization] ([id_specialization], [name_specialization], [id_directions], [price], [budget], [paid], [id_staff], [image], [id_mode], [name_time]) VALUES (3, N'Прикладной анализ данных', 1, 90000, N'5', N'25', 2, N'analiz.jpg', 1, N'5')
SET IDENTITY_INSERT [dbo].[specialization] OFF
GO
INSERT [dbo].[staff] ([id_staff], [id_post], [surname], [name], [patronymic], [phone], [email], [image]) VALUES (1, 1, N'Кузнецова', N'Василиса', N'Константиновна', N'7 (342) 622-14-79', N'daleucaprizou-1191@yopmail.com', N'')
INSERT [dbo].[staff] ([id_staff], [id_post], [surname], [name], [patronymic], [phone], [email], [image]) VALUES (2, 1, N'Парамонова', N'Варвара', N'Михайловна', N'7 (443) 496-52-38', N'jakaheifraugrau-5106@yopmail.com', N'')
INSERT [dbo].[staff] ([id_staff], [id_post], [surname], [name], [patronymic], [phone], [email], [image]) VALUES (3, 1, N'Федотов', N'Артём', N'Степанович', N'7 (354) 041-35-20', N'tannoupulloppoi-7601@yopmail.com', N'')
GO
INSERT [dbo].[time] ([id_time], [name_time]) VALUES (N'1', N'4')
INSERT [dbo].[time] ([id_time], [name_time]) VALUES (N'2', N'5')
GO
INSERT [dbo].[user] ([id], [name], [login], [password]) VALUES (1, N'руководитель', N'123', N'123')
INSERT [dbo].[user] ([id], [name], [login], [password]) VALUES (2, N'абитуриент', N'111', N'111')
INSERT [dbo].[user] ([id], [name], [login], [password]) VALUES (3, N'заведующий отделением', N'222', N'222')
GO
ALTER TABLE [dbo].[specialization]  WITH CHECK ADD  CONSTRAINT [FK_specialization_directions] FOREIGN KEY([id_directions])
REFERENCES [dbo].[directions] ([id_directions])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[specialization] CHECK CONSTRAINT [FK_specialization_directions]
GO
ALTER TABLE [dbo].[specialization]  WITH CHECK ADD  CONSTRAINT [FK_specialization_mode] FOREIGN KEY([id_mode])
REFERENCES [dbo].[mode] ([id_mode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[specialization] CHECK CONSTRAINT [FK_specialization_mode]
GO
ALTER TABLE [dbo].[specialization_entrant]  WITH CHECK ADD  CONSTRAINT [FK_specialization_entrant_entrant] FOREIGN KEY([id_entrant])
REFERENCES [dbo].[entrant] ([id_entrant])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[specialization_entrant] CHECK CONSTRAINT [FK_specialization_entrant_entrant]
GO
ALTER TABLE [dbo].[specialization_entrant]  WITH CHECK ADD  CONSTRAINT [FK_specialization_entrant_specialization] FOREIGN KEY([id_specialization])
REFERENCES [dbo].[specialization] ([id_specialization])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[specialization_entrant] CHECK CONSTRAINT [FK_specialization_entrant_specialization]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_post] FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_post]
GO
ALTER TABLE [dbo].[staff_id_specialization]  WITH CHECK ADD  CONSTRAINT [FK_staff_id_specialization_specialization] FOREIGN KEY([id_specialization])
REFERENCES [dbo].[specialization] ([id_specialization])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[staff_id_specialization] CHECK CONSTRAINT [FK_staff_id_specialization_specialization]
GO
ALTER TABLE [dbo].[staff_id_specialization]  WITH CHECK ADD  CONSTRAINT [FK_staff_id_specialization_staff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[staff] ([id_staff])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[staff_id_specialization] CHECK CONSTRAINT [FK_staff_id_specialization_staff]
GO
USE [master]
GO
