
CREATE TABLE [dbo].[books](
	[book_ID] [int] IDENTITY(1,1) NOT NULL,
	[b_name] [nvarchar](200) NOT NULL,
	[b_author] [nvarchar](200) NOT NULL,
	[b_year] [int] NOT NULL,
	[b_price] [decimal](7, 2) NULL,
	[b_count] [int] NULL,
	[b_cat_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[cat_ID] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](50) NOT NULL,
	[cat_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[o_user_ID] [int] NOT NULL,
	[o_book_ID] [int] NOT NULL,
	[o_time] [datetime] NOT NULL,
	[o_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_ID] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [nvarchar](50) NOT NULL,
	[u_patronymic] [nvarchar](50) NOT NULL,
	[u_surname] [nvarchar](50) NOT NULL,
	[u_phone] [nvarchar](12) NULL,
	[u_email] [nvarchar](50) NULL,
	[u_status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_order]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_order]
AS SELECT
books.b_name AS bookname, books.b_author, books.b_year, books.b_price,
catalogs.cat_name,
orders.order_ID, orders.o_time, orders.o_number,
users.u_surname AS userssurname, users.u_name AS username, users.u_patronymic AS
userpatronymic, users.u_phone, users.u_email
FROM
orders INNER JOIN books ON orders.o_book_ID = books.book_ID
INNER JOIN catalogs ON books.b_cat_ID = catalogs.cat_ID
INNER JOIN users ON orders.o_user_ID = users.user_ID
GO
/****** Object:  Table [dbo].[february]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[february](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[o_user_ID] [int] NOT NULL,
	[o_book_ID] [int] NOT NULL,
	[o_time] [datetime] NOT NULL,
	[o_number] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (2, N'Visual FoxPro 9.0', N'Клепинин В.Б.', 2007, CAST(660.00 AS Decimal(7, 2)), 2, 1)
INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (3, N'C++ Как он есть ', N'Тимофеев В.В.', 2009, CAST(218.00 AS Decimal(7, 2)), 4, 1)
INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (4, N'Создание приложений с
помощью C#
', N'Фаронов В.В. ', 2008, CAST(169.00 AS Decimal(7, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[catalogs] ON 

INSERT [dbo].[catalogs] ([cat_ID], [cat_name], [cat_count]) VALUES (1, N'Программирование', 12)
INSERT [dbo].[catalogs] ([cat_ID], [cat_name], [cat_count]) VALUES (2, N'Интернет', 6)
INSERT [dbo].[catalogs] ([cat_ID], [cat_name], [cat_count]) VALUES (3, N'Базы данных', 4)
SET IDENTITY_INSERT [dbo].[catalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (2, 6, 10, CAST(N'2009-10-15T09:40:29.000' AS DateTime), 2)
INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (3, 1, 21, CAST(N'2009-10-02T09:40:29.000' AS DateTime), 4)
INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (4, 4, 21, CAST(N'2009-10-02T09:40:29.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (1, N'Александр', N'Валерьевич', N'Иванов', N'58-98-78', N'ivanov@email.ru', NULL)
INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (2, N'Сергей', N'Иванович', N'Лосев', N'90-57-77', N'losev@email.ru', N'passive')
INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (4, N'Максим', N'Петрович', N'Кузнецов', NULL, N'kuznetsov@email.ru', N'active')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0.00') FOR [b_price]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_count]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_cat_ID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [o_time]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0') FOR [o_number]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('passive') FOR [u_status]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([b_cat_ID])
REFERENCES [dbo].[catalogs] ([cat_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([o_book_ID])
REFERENCES [dbo].[books] ([book_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([o_user_ID])
REFERENCES [dbo].[users] ([user_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([u_status]='active' OR [u_status]='passive' OR [u_status]='lock' OR [u_status]='gold'))
GO
/****** Object:  StoredProcedure [dbo].[Num]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Num]
@user_code INT,
@total INT OUTPUT
as
BEGIN
SELECT @total=COUNT(*) FROM orders
WHERE o_user_ID=@user_code
END
GO
/****** Object:  StoredProcedure [dbo].[ord_febr]    Script Date: 26.10.2022 21:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ord_febr] AS
BEGIN
SET DATEFORMAT ymd
INSERT INTO february (o_user_ID, o_book_ID, o_time, o_number)
SELECT o_user_ID, o_book_ID , o_time, o_number
FROM orders
WHERE o_time BETWEEN '2009-02-01' AND '2009-02-28'
END
GO
USE [master]
GO
