
CREATE TABLE [dbo].[Auth](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 24.10.2022 20:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 24.10.2022 20:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PubDate] [nvarchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extradation]    Script Date: 24.10.2022 20:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extradation](
	[ExtradationID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[DateExt] [date] NOT NULL,
	[DateDel] [date] NOT NULL,
	[ReaderID] [int] NOT NULL,
 CONSTRAINT [PK_Extradation] PRIMARY KEY CLUSTERED 
(
	[ExtradationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 24.10.2022 20:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[ReaderID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[ReaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auth] ON 

INSERT [dbo].[Auth] ([UserID], [Login], [Pass]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Auth] ([UserID], [Login], [Pass]) VALUES (2, N'user', N'user')
SET IDENTITY_INSERT [dbo].[Auth] OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [Surname], [name]) VALUES (1, N'Булгаков', N'Михаил')
INSERT [dbo].[Author] ([AuthorID], [Surname], [name]) VALUES (2, N'Толстой', N'Лев')
INSERT [dbo].[Author] ([AuthorID], [Surname], [name]) VALUES (3, N'Маршак', N'Самуил')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [Name], [AuthorID], [PubDate], [Amount], [Photo]) VALUES (1, N'Мастер и Маргарита', 1, N'1967', 3, N'1.jpg')
INSERT [dbo].[Book] ([BookID], [Name], [AuthorID], [PubDate], [Amount], [Photo]) VALUES (2, N'Собачье сердце', 1, N'1925', 2, N'2.jpg')
INSERT [dbo].[Book] ([BookID], [Name], [AuthorID], [PubDate], [Amount], [Photo]) VALUES (3, N'Белая гвардия', 1, N'1925', 1, N'3.jpg')
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Extradation] ON 

INSERT [dbo].[Extradation] ([ExtradationID], [BookID], [DateExt], [DateDel], [ReaderID]) VALUES (1, 1, CAST(N'2020-10-10' AS Date), CAST(N'2020-10-17' AS Date), 1)
INSERT [dbo].[Extradation] ([ExtradationID], [BookID], [DateExt], [DateDel], [ReaderID]) VALUES (2, 2, CAST(N'2020-10-20' AS Date), CAST(N'2020-10-27' AS Date), 2)
INSERT [dbo].[Extradation] ([ExtradationID], [BookID], [DateExt], [DateDel], [ReaderID]) VALUES (3, 3, CAST(N'2020-10-13' AS Date), CAST(N'2020-10-20' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Extradation] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader] ON 

INSERT [dbo].[Reader] ([ReaderID], [Surname], [Name], [Patronymic], [PhoneNumber]) VALUES (1, N'Третьякова', N'Злата', N'Сергеевна', N'40(85)117-85-74')
INSERT [dbo].[Reader] ([ReaderID], [Surname], [Name], [Patronymic], [PhoneNumber]) VALUES (2, N'Семенов', N'Иван', N'Павлович', N'7(6433)492-28-29')
INSERT [dbo].[Reader] ([ReaderID], [Surname], [Name], [Patronymic], [PhoneNumber]) VALUES (3, N'Сергеева', N'Мария', N'Леоновна', N'044(63)057-84-25')
SET IDENTITY_INSERT [dbo].[Reader] OFF
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Extradation]  WITH CHECK ADD  CONSTRAINT [FK_Extradation_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Extradation] CHECK CONSTRAINT [FK_Extradation_Book]
GO
ALTER TABLE [dbo].[Extradation]  WITH CHECK ADD  CONSTRAINT [FK_Extradation_Reader] FOREIGN KEY([ReaderID])
REFERENCES [dbo].[Reader] ([ReaderID])
GO
ALTER TABLE [dbo].[Extradation] CHECK CONSTRAINT [FK_Extradation_Reader]
GO
USE [master]
GO
