USE [master]
GO
/****** Object:  Database [libraryE]    Script Date: 25.10.2022 0:46:03 ******/
CREATE DATABASE [libraryE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'libraryE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\libraryE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'libraryE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\libraryE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [libraryE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [libraryE]
GO
/****** Object:  User [DESKTOP-I17R4U8\witless]    Script Date: 25.10.2022 0:46:03 ******/
CREATE USER [DESKTOP-I17R4U8\witless] FOR LOGIN [DESKTOP-I17R4U8\witless] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[book]    Script Date: 25.10.2022 0:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id_book] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [nvarchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[photo] [nvarchar](50) NOT NULL,
	[id_janre] [int] NOT NULL,
	[id_censure] [int] NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[censure]    Script Date: 25.10.2022 0:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[censure](
	[id_censure] [int] NOT NULL,
	[censure_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_censure] PRIMARY KEY CLUSTERED 
(
	[id_censure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[janre]    Script Date: 25.10.2022 0:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[janre](
	[id_janre] [int] IDENTITY(1,1) NOT NULL,
	[janre_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_janre] PRIMARY KEY CLUSTERED 
(
	[id_janre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 25.10.2022 0:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zapis]    Script Date: 25.10.2022 0:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zapis](
	[id_zapis] [int] IDENTITY(1,1) NOT NULL,
	[id_book] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[time_start] [date] NOT NULL,
	[time_end] [date] NOT NULL,
 CONSTRAINT [PK_zapis] PRIMARY KEY CLUSTERED 
(
	[id_zapis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([id_book], [book_name], [author], [year], [photo], [id_janre], [id_censure]) VALUES (16, N'Руслан и Людмила', N'Александр Пушкин', 1820, N'1.jpg', 12, 1)
INSERT [dbo].[book] ([id_book], [book_name], [author], [year], [photo], [id_janre], [id_censure]) VALUES (17, N'Три товарища', N'Эрих Мария Ремарк', 1936, N'2.jpg', 6, 4)
INSERT [dbo].[book] ([id_book], [book_name], [author], [year], [photo], [id_janre], [id_censure]) VALUES (18, N'Человек-паук', N'Стен Ли', 1963, N'3.jpg', 9, 1)
SET IDENTITY_INSERT [dbo].[book] OFF
GO
INSERT [dbo].[censure] ([id_censure], [censure_name]) VALUES (1, N'0+')
INSERT [dbo].[censure] ([id_censure], [censure_name]) VALUES (2, N'3+')
INSERT [dbo].[censure] ([id_censure], [censure_name]) VALUES (3, N'12+')
GO
SET IDENTITY_INSERT [dbo].[janre] ON 

INSERT [dbo].[janre] ([id_janre], [janre_name]) VALUES (1, N'Детектив')
INSERT [dbo].[janre] ([id_janre], [janre_name]) VALUES (2, N'Драмма')
INSERT [dbo].[janre] ([id_janre], [janre_name]) VALUES (3, N'Классика')
SET IDENTITY_INSERT [dbo].[janre] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id_user], [login], [pass], [name], [last_name]) VALUES (8, N'admin', N'admin', N'Коля', N'Куштуков')
INSERT [dbo].[user] ([id_user], [login], [pass], [name], [last_name]) VALUES (9, N'user', N'user', N'Арсентий', N'Ершов')
INSERT [dbo].[user] ([id_user], [login], [pass], [name], [last_name]) VALUES (10, N'1234', N'1234', N'Егор', N'Бастраков')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[zapis] ON 

INSERT [dbo].[zapis] ([id_zapis], [id_book], [id_user], [time_start], [time_end]) VALUES (66, 16, 8, CAST(N'2022-09-09' AS Date), CAST(N'2022-09-10' AS Date))
INSERT [dbo].[zapis] ([id_zapis], [id_book], [id_user], [time_start], [time_end]) VALUES (67, 17, 9, CAST(N'2022-10-10' AS Date), CAST(N'2022-11-10' AS Date))
INSERT [dbo].[zapis] ([id_zapis], [id_book], [id_user], [time_start], [time_end]) VALUES (68, 18, 14, CAST(N'2021-01-01' AS Date), CAST(N'2021-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[zapis] OFF
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_censure] FOREIGN KEY([id_censure])
REFERENCES [dbo].[censure] ([id_censure])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_censure]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_janre] FOREIGN KEY([id_janre])
REFERENCES [dbo].[janre] ([id_janre])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_janre]
GO
ALTER TABLE [dbo].[zapis]  WITH CHECK ADD  CONSTRAINT [FK_zapis_book] FOREIGN KEY([id_book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[zapis] CHECK CONSTRAINT [FK_zapis_book]
GO
ALTER TABLE [dbo].[zapis]  WITH CHECK ADD  CONSTRAINT [FK_zapis_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id_user])
GO
ALTER TABLE [dbo].[zapis] CHECK CONSTRAINT [FK_zapis_user]
GO
USE [master]
GO
