USE [master]
GO
/****** Object:  Database [PawnShop]    Script Date: 15.10.2022 17:12:38 ******/
CREATE DATABASE [PawnShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PawnShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\PawnShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PawnShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER05\MSSQL\DATA\PawnShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PawnShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PawnShop]
GO
/****** Object:  User [DESKTOP-I17R4U8\witless]    Script Date: 15.10.2022 17:12:38 ******/
CREATE USER [DESKTOP-I17R4U8\witless] FOR LOGIN [DESKTOP-I17R4U8\witless] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Change]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Change](
	[ChangeID] [int] IDENTITY(1,1) NOT NULL,
	[ChangeCategoryID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Descr] [nvarchar](50) NOT NULL,
	[DateChange] [date] NOT NULL,
	[MoneyHand] [float] NOT NULL,
	[Commissor] [float] NOT NULL,
	[DateReturn] [date] NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Change] PRIMARY KEY CLUSTERED 
(
	[ChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeCategory]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeCategory](
	[ChangeCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChangeCategory] PRIMARY KEY CLUSTERED 
(
	[ChangeCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Npass] [nvarchar](50) NOT NULL,
	[Spass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 15.10.2022 17:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[DateSale] [date] NOT NULL,
	[Price] [float] NOT NULL,
	[ChangeID] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auth] ON 

INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (1, N'user', N'user', 2)
INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (3, N'admin', N'admin', 2)
SET IDENTITY_INSERT [dbo].[Auth] OFF
GO
SET IDENTITY_INSERT [dbo].[Change] ON 

INSERT [dbo].[Change] ([ChangeID], [ChangeCategoryID], [ClientID], [Descr], [DateChange], [MoneyHand], [Commissor], [DateReturn], [Photo]) VALUES (1, 1, 18, N'Микроволновая печь', CAST(N'2018-10-10' AS Date), 7000, 700, CAST(N'2018-10-17' AS Date), N'1.jpg')
INSERT [dbo].[Change] ([ChangeID], [ChangeCategoryID], [ClientID], [Descr], [DateChange], [MoneyHand], [Commissor], [DateReturn], [Photo]) VALUES (2, 2, 19, N'Телефон', CAST(N'2018-10-12' AS Date), 12000, 1200, CAST(N'2018-10-19' AS Date), N'2.jpg')
INSERT [dbo].[Change] ([ChangeID], [ChangeCategoryID], [ClientID], [Descr], [DateChange], [MoneyHand], [Commissor], [DateReturn], [Photo]) VALUES (3, 3, 20, N'Диван', CAST(N'2018-10-17' AS Date), 10000, 1000, CAST(N'2018-10-24' AS Date), N'3.jpg')
SET IDENTITY_INSERT [dbo].[Change] OFF
GO
SET IDENTITY_INSERT [dbo].[ChangeCategory] ON 

INSERT [dbo].[ChangeCategory] ([ChangeCategoryID], [Name]) VALUES (1, N'Бытовая техника')
INSERT [dbo].[ChangeCategory] ([ChangeCategoryID], [Name]) VALUES (2, N'Электроника')
INSERT [dbo].[ChangeCategory] ([ChangeCategoryID], [Name]) VALUES (3, N'Мебель')
SET IDENTITY_INSERT [dbo].[ChangeCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Npass], [Spass]) VALUES (1, N'Суханова', N'Мария', N'Львовна', N'14324443', N'4322')
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Npass], [Spass]) VALUES (2, N'Евдокимов', N'Матвей', N'Матвеевич', N'42342444', N'3452')
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Npass], [Spass]) VALUES (3, N'Чистякова', N'Мила', N'Арсентьевна', N'56456456', N'3122')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'User')
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [FK_Auth_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [FK_Auth_Role]
GO
ALTER TABLE [dbo].[Change]  WITH CHECK ADD  CONSTRAINT [FK_Change_ChangeCategory] FOREIGN KEY([ChangeCategoryID])
REFERENCES [dbo].[ChangeCategory] ([ChangeCategoryID])
GO
ALTER TABLE [dbo].[Change] CHECK CONSTRAINT [FK_Change_ChangeCategory]
GO
ALTER TABLE [dbo].[Change]  WITH CHECK ADD  CONSTRAINT [FK_Change_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Change] CHECK CONSTRAINT [FK_Change_Client]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Change] FOREIGN KEY([ChangeID])
REFERENCES [dbo].[Change] ([ChangeID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Change]
GO
USE [master]
GO
