
CREATE TABLE [dbo].[Antiqes](
	[AntiquesID] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
	[Presence] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[ProdCount] [nvarchar](50) NOT NULL,
	[ProdYear] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Antiques] PRIMARY KEY CLUSTERED 
(
	[AntiquesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 21.10.2022 21:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buy]    Script Date: 21.10.2022 21:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy](
	[BuyID] [int] IDENTITY(1,1) NOT NULL,
	[AntiquesID] [int] NOT NULL,
	[BuyDate] [date] NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_Buy] PRIMARY KEY CLUSTERED 
(
	[BuyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 21.10.2022 21:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Spass] [nvarchar](50) NOT NULL,
	[Npass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.10.2022 21:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Antiqes] ON 

INSERT [dbo].[Antiqes] ([AntiquesID], [Author], [Presence], [Price], [ProdCount], [ProdYear], [Photo]) VALUES (1, N'Шанель', 1, 876543333, N'Франция', N'1935', N'1.jpg')
INSERT [dbo].[Antiqes] ([AntiquesID], [Author], [Presence], [Price], [ProdCount], [ProdYear], [Photo]) VALUES (2, N'Шопард', 1, 100000000, N'Франция', N'1910', N'2.jpg')
INSERT [dbo].[Antiqes] ([AntiquesID], [Author], [Presence], [Price], [ProdCount], [ProdYear], [Photo]) VALUES (3, N'Пресли', 1, 340000000, N'США', N'1958', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Antiqes] OFF
GO
SET IDENTITY_INSERT [dbo].[Auth] ON 

INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (1, N'user', N'user', 1)
INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (2, N'admin', N'admin', 2)
INSERT [dbo].[Auth] ([UserID], [Login], [Password], [RoleID]) VALUES (3, N'pols', N'pols', 2)
SET IDENTITY_INSERT [dbo].[Auth] OFF
GO
SET IDENTITY_INSERT [dbo].[Buy] ON 

INSERT [dbo].[Buy] ([BuyID], [AntiquesID], [BuyDate], [ClientID]) VALUES (1, 12, CAST(N'2020-10-10' AS Date), 20)
INSERT [dbo].[Buy] ([BuyID], [AntiquesID], [BuyDate], [ClientID]) VALUES (2, 11, CAST(N'2021-01-20' AS Date), 11)
INSERT [dbo].[Buy] ([BuyID], [AntiquesID], [BuyDate], [ClientID]) VALUES (3, 10, CAST(N'2019-02-10' AS Date), 12)
SET IDENTITY_INSERT [dbo].[Buy] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Phone], [Spass], [Npass]) VALUES (1, N'Гусева', N'Милана', N'Андреевна', N'630(33)673-53-78', N'4299', N'445234')
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Phone], [Spass], [Npass]) VALUES (2, N'Ульянова', N'Анастасия', N'Леонидовна', N'452(8501)532-04-97', N'5312', N'423434')
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [Phone], [Spass], [Npass]) VALUES (3, N'Родин', N'Дмитрий', N'Даниилович', N'3(1723)979-25-71', N'1543', N'423444')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'admin')
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [FK_Auth_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [FK_Auth_Role]
GO
ALTER TABLE [dbo].[Buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Antiques] FOREIGN KEY([AntiquesID])
REFERENCES [dbo].[Antiqes] ([AntiquesID])
GO
ALTER TABLE [dbo].[Buy] CHECK CONSTRAINT [FK_Buy_Antiques]
GO
ALTER TABLE [dbo].[Buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Buy] CHECK CONSTRAINT [FK_Buy_Client]
GO
USE [master]
GO
